<% if @filter != "mine" || @dashboard.issues_in_version_assigned_to(User.current, @version).length > 0 -%>
  <% colLength = 99 / @issuestatuses.length %>
  <% colLength = colLength >= @dashboard.col_max_width ? @dashboard.col_max_width : colLength %>
  <p>
    <%= draw_columns(@issuestatuses, @dashboard.col_max_width, @sort, @reverse) %>

    <% col = 1 %>
    <% @swimlines.each do |swimline| %>
      <% if @filter != "mine" || swimline.issues_assigned_to(User.current).length > 0 %>
        <% col = (col == 0) ? 1 : 0 %>

        <%= content_tag :div, class: 'frame', style: 'clear:both;', id: "frame-#{swimline.main_issue.id}" do %>

          <% i = 0 %>
          <% swimline.columns.each do |c| %>

            <% last = (i != swimline.columns.length - 1) ? false : true %>
            <% i += 1 %>
            <%= draw_content(c, col, colLength, swimline.height(@filter) * @dashboard.line_height, @dashboard.maintrackers, last, @filter) %>

          <% end %>

        <% end %>

      <% end %>
    <% end %>
  </p>

<% else %>

  <p class="nodata"><%= l(:label_roadmap_no_issues) %></p>

<% end %>
