<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'dashboard', :plugin => 'redmine_scrumdashboard' %>
  <%= javascript_include_tag 'tooltip', :plugin => 'redmine_scrumdashboard' %>
<% end %>

<% current_version = !@versions.nil? ? @version.id : nil %>
<% if User.current.allowed_to?(:edit_dashboard, @project, :global => true) %>
  <div style='float: right'>
    <%= link_to l(:label_settings), { :action => "settings", :id => @project.identifier,
                                      :version => current_version }, :class => 'icon icon-admin' -%>
  </div>
<% end %>

<% if @version && @version.project == @project %>

  <h2><%= l(:label_dashboard) -%> - <%= @version.name -%></h2>

  <% if @versions.length > 0 && !@dashboard.maintrackers.empty? %>

    <% disabled = @versions.length > 1 ? false : true %>
    <div style='width:20%;float:left;margin-right:2px;'>
      <fieldset>
        <legend><%= l(:label_dashboard_choose_version) -%></legend>
        <%= form_tag do -%>
          <%= select_tag(:version_id, options_from_collection_for_select(@versions, :id, :name, @version.id),
                         :onchange => "window.location='?version_id='+this.value+'&id=#{@project.identifier}'",
                         :disabled => disabled,
                         :style => "width:99%") -%>
        <% end -%>
      </fieldset>
    </div>

    <% if User.current.logged? %>
      <div style='width:20%;float:left;margin-left:2px;' id='dashboard_filter'>
        <% filter = params[:filter] ? params[:filter] : nil %>

        <fieldset>
          <legend><%= l(:label_dashboard_filter) -%></legend>
          <%= l(:label_dashboard_show) -%>
          <%= form_tag :update => 'dashboard', :url => params.merge({ :action => :update_selection }), :remote => true do %>
            <%= select_tag('filter', options_for_select([[l(:dashboard_select_all), 'all'],
                                                         [l(:dashboard_select_mine), 'mine']], filter),
                           :onchange => "window.location='?version_id=#{@version.id}&id=#{@project.identifier}&filter='+this.value") %>
          <% end %>
        </fieldset>
      </div>
    <% end %>

    <br/><br/><br/><br/>

  <% end %>

  <% if @swimlines.empty? %>

    <p class="nodata"><%= l(:label_roadmap_no_issues) %></p>

  <% elsif @dashboard.maintrackers.empty? %>

    <% if User.current.allowed_to?(:edit_dashboard, @project, :global => true) %>

      <p class="nodata">
        <%= link_to l(:dashboard_set_maintracker), { :action => "settings",
                                                     :id => @project.identifier,
                                                     :version => @version.id } -%>
      </p>

    <% else %>

      <p class="nodata"><%= l(:label_no_data) %></p>

    <% end %>

  <% else %>

    <% dbwidth = @issuestatuses.length > 7 ? 100+(@issuestatuses.length-7)*14 : 100 %>
    <div id="dashboard" style='<%= "width: #{dbwidth}%" -%>'>
      <%= render :partial => '/dashboard/dashboard' -%>
    </div>

  <% end %>

<% elsif @dashboard.maintrackers.empty? %>

  <h2><%= l(:label_dashboard) -%></h2>

  <% if User.current.allowed_to?(:edit_dashboard, @project, :global => true) %>

    <p class="nodata">
      <%= link_to l(:dashboard_set_maintracker), {
          :action => "settings", :id => @project.identifier, :version => version_id } -%>
    </p>

  <% else %>

    <p class="nodata"><%= l(:label_no_data) %></p>

  <% end %>

<% else %>

  <h2><%= l(:label_dashboard) -%></h2>
  <p class="nodata"><%= l(:label_no_data) %></p>

<% end %>

<%= javascript_tag ("$('.draggable').draggable({revert: 'valid'});") %>